#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Commander
GenericName=Terminal
GenericName[de]=Terminal
Comment=Run Shell commands
Comment[de]=Shell-Befehle ausführen

Icon=utilities-terminal

Type=Application
Categories=Qt;System;TerminalEmulator;

Exec=/usr/share/Commander/Commander
StartupNotify=false
Terminal=false

